/********** Base styles **********/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
h1 {

  margin-bottom: 15px;
  text-align: center;
  font-size: 175%;
  margin: 0px;
}



h3 {
  margin-top: 0px;
  text-align: center;
  padding: 5px 0;
  font-size: 125%;
  top: -50px;
}


p {

  width: 100%;
  margin-right: auto;
  margin-left: auto;
  font-family: Arial;
  color: black;
  padding: 5px 8px;
}

/*
h1 div.navbar-brand {
  text-align: left;
  font-size: 175%;
  margin: 0px;
}
*/

.navbar .navbar-default {
  background-color: lightseagreen;
}

/* Simple Responsive Framework. */
.row {
  width: auto;
  margin-right: +15px;
  margin-left: +15px;
}

/**/

body .container {

  background-color: Gray;
  width: auto;
  margin-right: auto;
  margin-left: auto;
  font-family: Helvetica;
  color:black;
  padding: 10px 8px;
  margin: 20px;
}


/** HEADER **/
#header-nav {
  background-color: LightGray;
  border-radius: 0;
  border: 0;
}



.navbar-brand h1 { /* company name */
  font-family: 'Lora', serif;
  color: #557c3e;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

.navbar-brand p span { /* Star-K */
  vertical-align: middle;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #951C49;
  text-align: center;
  border: 1px solid white;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid black;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}